<div id="menu" class="col-md-3 border bg-white rounded-start">
  <div id="pesquisa" class="row">
    <div class="col-6  p-1 my-3">
      <button class="btn"><i class="fas fa-edit"></i></button>
    </div>
    <div class="col-6 text-end p-1 my-3">
        <form action="/logout" method="POST">
            
            <button type="submit" class="btn"><i class="fas fa-power-off"></i></button>
        </form>
    </div>
  </div>
  <div id="conversas" class="row d-flex align-items-stretch">
    <%- include('user.ejs') %>
  </div>
</div>

<div id="talk" class="col-md-9 border bg-white rounded-end px-0 mx-0 d-flex flex-column">
  <nav class="navbar navbar-light bg-light border-bottom shadow">
    <div class="container-fluid">
      <div class="d-flex align-items-center w-100">
        <div id="friend_image" class="me-3">
          <img src="/avatar.png" class="img-fluid rounded-circle border" style="width: 50px; height: 50px;" alt="User">
        </div>
        <div class="flex-grow-1">
          <p class="fw-bolder text-truncate p-0 m-0">
            <% if (receiverId) { %>
              <%= allUsers.find(u => u.id == receiverId)?.username || 'User' %>
            <% } else { %>
              Public Chat
            <% } %>
          </p>
        </div>
      </div>
    </div>
  </nav>

  <div id="chat-area" class="chat-area overflow-auto bg-white flex-grow-1 p-3" style="height: calc(100vh - 200px);">
    <% if (messages.length === 0) { %>
      <div class="text-center text-muted mt-5">
        <p>No messages yet. Start the conversation!</p>
      </div>
    <% } else { %>
      <% messages.forEach(function(message) { %>
              <div id="chat-messages" class="<%= receiverId == message.senderId ? 'msg-recebida float-start' : 'msg-enviada float-end ' %> position-relative p-3 m-2 rounded-3">
                <%= message.message %>
                <br>
                <small class="float-end text-muted">
                    <%= new Date(message.timestamp).toLocaleTimeString('id-ID', { hour: '2-digit', minute: '2-digit' }) %> 
                </small>
              </div>
              <span class="clearfix"></span>
          <% }); %>
    <% } %>
  </div>

  <div class="input-group p-3 border-top bg-light">
    <input id="message-input" type="text" class="form-control border border-secondary p-3" placeholder="Type a message..." aria-label="Message input">
    <button id="send-button" class="btn btn-primary px-4" type="button">
      <i class="fas fa-paper-plane"></i>
    </button>
  </div>
</div>
<script>
    // Global variables from server
    window.chatConfig = {
        currentUserId: <%- currentUserId %>,
        receiverId: <%- receiverId || 'null' %>
    };
</script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/socket.js"></script>